body {
    font-size: 10px;
    background: #fff;
    line-height: 1.42857143;
    /*  Error with that Font */
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mgt20 {
    margin-top: 20px;
}

.relative {
    position: relative;
}

header {
    margin-bottom: 60px;
}