ul.side-menu__list a.beforeImple {
    display: block;
    text-transform: uppercase;
    padding: 18px 0 15px;
    font-size: 1.2em;
    border-right: 1px solid rgb(228, 228, 228);
    border-left: 1px solid rgb(228, 228, 228);
    position: relative;
}

ul.side-menu__list li.li-parent {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left-side {
    width: 22%;
}

ul.side-menu__list span.imgLogo {
    margin: 0 15px;
    float: left;
    width: 20px;
}

ul.side-menu__list li a.beforeImple:hover {
    background: #f0f0f0;
}

ul.side-menu__list li a.beforeImple:hover:before {
    content: "";
    width: 4px;
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    bottom: 0;
}

ul.side-menu__sub-menu,
.defaultBanner {
    width: 936px;
    position: absolute;
    top: 0;
    left: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 99;
}

ul.side-menu__sub-menu {
    min-height: 432px;
}

ul.side-menu__sub-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.6%);
    grid-template-rows: repeat(auto-fit, minmax(166px, 1fr));
    align-items: flex-start;
}

ul.side-menu__sub-menu>li>a {
    display: block;
    font-size: 14px;
}

span.title {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #555555;
}

a.sub-menu__content {
    position: relative;
}

img {
    max-width: 100%;
}

ul.side-menu__sub-menu img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

span.img {
    display: block;
}

span.img {
    display: block;
}

ul.side-menu__sub-menu a {
    position: relative;
}

span.img {
    height: 145px;
    position: relative;
}

ul.side-menu__su b-menu span.text {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    transition: all 0.4s ease;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 0px 10px;
    font-size: 14px;
}

ul.side-menu__sub-menu li:hover {
    background: #eee;
}

ul.side-menu__sub-menu li {
    transition: background 0.25s;
    text-align: center;
}

ul.side-menu__list {
    position: relative;
}

.slideWrap {
    position: relative;
    height: 100%;
}

.Slides ul li {
    position: absolute;
}

.defaultBanner {
    width: 889px;
    height: 100%;
}

.Slides {
    height: 100%;
}

.Slides ul {
    height: 100%;
}

.Slides ul li a {
    display: block;
    height: 100%;
}

.hoverPicture {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hoverPicture img:hover {
    transform: scale(1.05);
    overflow: hidden;
}

.hoverPicture img {
    transition: all 0.25s ease-in-out;
}

.hoverPicture .col {
    overflow: hidden;
}

.Slides ul li.active {
    display: block;
}

.Slides ul li {
    display: none;
}


/* DisCount Part         */

.listProduct__menu {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 20px 10px 14px 10px;
}



ul.disCount__listItem {
    display: flex;
}

ul.disCount__listItem li {
    margin-left: 23.6px;
    display: inline-block;
}

ul.disCount__listItem li:last-child {
    margin-right: 20px;
}

.listProduct .row {
    padding-left: 10px;
}

.listProduct .row {
    justify-content: space-between;
}

.row.cvertFlextoBlock {
    display: block;
}



ul.disCount__listItem li a {
    font-size: 15px;
}

ul.disCount__listItem li:last-child {
    margin-right: 20px;
}

ul.disCount__listItem li a {
    text-transform: uppercase;
    color: #000;
}

ul.disCount__listItem li a:hover {
    color: red;
}

.listProduct__productItems img.imgProduct {
    max-width: 100%;
    max-height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 20px;
    align-items: baseline;
}

.listProduct__productItems .col {
    padding: 0 15px;
}

img.imgProduct {
    margin-bottom: 16px;
}

p.nameProduct {
    text-align: center;

}

p.nameProduct {
    height: 70px;
}

p.nameProduct span {
    color: #838484;
    font-weight: bold;
    word-break: break-all;
}

.listProduct__productItems .col {
    font-size: 13px;
}

span.priceProduct {
    display: block;
    width: 100%;
    text-align: center;
}

span.priceProduct p {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
}

span.priceProduct p:first-child {
    margin-right: 5px;
    color: #838484;
}

.addToCart button {
    display: block;
    padding: 2px 40px 2px 15px;
    border-radius: 20px;
    color: #fff;
    transition: 0.5s ease;
    width: 100%;
    font-size: 12px;
}

.addToCart {
    margin-top: 10px;
}

.addToCart {
    padding: 0 20px;
}

.addToCart:hover button {
    background: url(../commonImages/icon-cart.png) no-repeat right 10px center red !important;
}

ul.page-number li button:hover {
    color: #65d1e6;
}

img.khuyenmai-icon {
    position: absolute;
    left: 0;
}

/* End DisCount Part */

ul.page-number li button {
    width: 42px;
    height: 42px;
    line-height: 42px;
    position: relative;
    border: 1px solid #e5e5e5;
}

ul.page-number {
    display: flex;
    justify-content: center;
}

.page-number {
    margin: 2em 0;
}

.success {
    text-align: center;
    font-size: 16px;
}